<footer class="w-100 mt-auto pt-2 pb-1">
    <div class="container-cs">
        <div class="row px-0">
            <div class="col-md">
                <p class="mb-0"><b>Diário de Síntomas</b></p>
                <p class="mb-0">
                    <small>Desenvolvido com Express.js</small>
                </p>
                <p class="mb-0 text-white-50">
                    <small>&copy; <%= new Date().getFullYear() %> Síntomas</small>
                </p>
            </div>
        </div>
    </div>
</footer>