<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - Sintomas
    </title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/navbar') %>

    <main>
        <%- body %>
    </main>

    <%- include('partials/footer') %>
</body>
</html>