:root {
    --light-blue: #74c0fc;
    --vivid-blue: #52aef3;
    --warm-blue: #3994de;
    --regular-blue: #146ebe;
    --dark-blue: #183153;
}

body  {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--dark-blue);
    color: white;
}

/* Cores
   ======================================== */
.text-regular-blue { 
    color: var(--regular-blue); 
}

/* Navbar
   ======================================== */
.navbar {
    border: 2px solid var(--bs-dark-bg-subtle);
    border-bottom-width: 6px;
    background-color: white;
}

/* Nav Brand */
.navbar-brand i {
    display: inline-block;
    transition: transform 0.1s ease-in-out;
    will-change: transform;
}
.navbar-brand:hover i { 
    transform: rotate(-5deg) translateY(-2px); 
}

/* Nav Links */
.nav-link { width: min-content; }
.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--dark-blue);
}

/* Buttons
   ======================================== */

/* Main */
.btn-main {
    font-weight: 600;
    padding-inline: 3rem;
    padding-block: 1.1rem;
    border-radius: 0.4rem;
    transition: border-color 0.1s ease-in-out;
}

/* Dark Blue */
.btn-dark-blue {
    background-color: var(--dark-blue);
    color: white;
}
.btn-dark-blue:hover {
    background-color: var(--dark-blue);
    color: var(--light-blue);
}
.btn-dark-blue:active {
    background-color: var(--regular-blue) !important;
    color: white !important;
}

/* Create */
.btn-create {
    background-color: white;
    box-shadow: 0 7px 0 var(--dark-blue);
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
}
.btn-create:hover {
    color: var(--regular-blue);
}
.btn-create:active {
    box-shadow: 0 3px 0 var(--dark-blue);
    transform: translateY(4px);
}

/* Edit */
.btn-edit {
    background-color: var(--regular-blue);
    box-shadow: 0 7px 0 var(--dark-blue);
    border: 2px solid var(--dark-blue);
    color: white;
}
.btn-edit:hover {
    background-color: var(--warm-blue);
}
.btn-edit:active {
    background-color: var(--regular-blue);
    box-shadow: 0 3px 0 var(--dark-blue);
    transform: translateY(4px);
}

/* Form
   ======================================== */
.form-control,
.form-select {
    border-radius: 0.7rem;
    border: 2px solid var(--bs-dark-bg-subtle);
    padding-block: 0.6rem;
    font-weight: 500;
}

.form-control::placeholder,
.form-select::placeholder {
    color: var(--bs-gray-500);
    font-weight: 500;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--dark-blue);
    box-shadow: none;
}

.dropdown-item small {
    white-space: normal;
    word-wrap: break-word;
}
.dropdown-item:active {
    background-color: transparent;
    color: var(--vivid-blue);
}

/* Input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] { 
    -moz-appearance: textfield; 
}

/* Custom
   ======================================== */
.badge-blue {
    background-color: var(--bs-light);
    color: var(--regular-blue);
}

/* Breakpoints
   ======================================== */
.container-cs { 
    width: 95%;
    margin-inline: auto; 
}
@media (min-width: 576px) { .container-cs { max-width: 550px; } }
@media (min-width: 768px) { .container-cs { max-width: 680px; } }
@media (min-width: 992px) { .container-cs { max-width: 765px; } }
@media (min-width: 1200px) { .container-cs { max-width: 926px; } }
@media (min-width: 1400px) { .container-cs { max-width: 1080px; } }